/*  ------------------------------------------------
    Header
*/
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $brand-color;
    min-height: 56px;
}

.site-title {
    line-height: 56px;
    margin-bottom: 0;
    float: left;
    transform: translateY(-2px);
    transition: all 250ms;
    
    &:hover {
        transform: translateY(0);
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    
    .trigger a:first-child {
        display: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            
            a:first-child {
                display: block;
            }

        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: #111;
            margin-left: 20px;

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}



/*  ------------------------------------------------
    Footer
*/
.site-footer {
    padding: $spacing-unit 0;
    background: $text-color;
    color: $background-color;

    & a:hover {
        color: $background-color;
        text-decoration: none;
    }

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/*  ------------------------------------------------
    Cover
 */

    .cover {
      background-color: #333;
      position: relative;
      height: 55vw;
      overflow: hidden;
      z-index: -1;

        @include media-query($on-palm) {
            margin-top: 56px;
        }
        
        img {
            position: absolute;
            opacity: 0;
            transition: opacity 1s linear;
            width: 100%;

            &.loaded {
                opacity: 1;
            }
        }
    }

    .cover-small {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }


/*  ------------------------------------------------
    Pages
 */
.page-content {
    padding: $spacing-unit 0;
    background: $background-color;
    overflow: hidden;
}

.page-heading {
    font-size: 20px;
}

.home {
    display: flex;
}

.posts {
    width: 100%;
}

.video {
    width: 250px;
}

@include media-query($on-palm) {
    .home, .video {
        width: auto;
        display: block;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    
    h2 {
        margin-bottom: 0;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/*  ------------------------------------------------
    Posts
*/
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.max-width-50 {
    max-width: 50%; 
}

.max-width-75 {
    max-width: 75%; 
}

.center {
    margin: 30px auto;    
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 0px 10px 52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 52px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 52px 0px rgba(0,0,0,0.75);
}