---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p>File under 
    {% for tag in page.tags %}
      {% if forloop.last == false %}
        <a href="/tags/tags.html#{{ tag }}" class="tag">{{ tag }}</a>,
      {% else %}
        and <a href="/tags/tags.html#{{ tag }}" class="tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  </p>
  
</article>

<div class="next-post" style="display:none">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
  {% endif %}
</div>

<div id="disqus_thread"></div>

<script>
  // ----------------------------------------- 
  // disqus comment system
  var disqus_config = function () {
    this.page.url = '{{ site.url page.url }}'; 
    this.page.identifier = '{{ page.id }}';
  };

  (function() {
    var d = document, s = d.createElement('script');

    s.src = '//ryanjsalva.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
